.skeleton-container {
    width: 100%;
    height: 100%;
    margin: auto;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: center;
    justify-content: center;
    justify-items: center;
    gap: 20px;
}

.skeleton-box {
    height: 280px;
    width: 260px;
    background-color: rgb(230, 235, 223);
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skeleton-sec1 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.skeleton-profile {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: rgb(156, 149, 149);
}

.skeleton-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.skeleton-p1 {
    width: 180px;
    height: 6px;
    border-radius: 5px;
    background-color: rgb(156, 149, 149);
}

.skeleton-p2 {
    width: 130px;
    height: 6px;
    border-radius: 5px;
    background-color: rgb(156, 149, 149);
}

.skeleton-p3 {
    width: 145px;
    height: 6px;
    border-radius: 5px;
    background-color: rgb(156, 149, 149);
}

.skeleton-sec2 {
    width: 80%;
    height: 150px;
    margin: auto;
    background-color: rgb(156, 149, 149);
}

/* @keyframes blink {
    0% {
        background-color: rgb(156, 149, 149);
    }

    50% {
        background-color: rgb(200, 200, 200);
    }

    100% {
        background-color: rgb(156, 149, 149);
    }
}

.p1,
.p2,
.p3,
.profile,
.sec2 {
    animation: blink 1.5s infinite ease-in-out;
} */

@keyframes shimmer {
    0% {
        background-position: -300px 0;
    }

    100% {
        background-position: 300px 0;
    }
}

.skeleton-p1,
.skeleton-p2,
.skeleton-p3,
.skeleton-profile,
.skeleton-sec2 {
    background: linear-gradient(90deg, rgba(156, 149, 149, 0.1) 0%, rgba(156, 149, 149, 0.5) 50%, rgba(156, 149, 149, 0.1) 100%);
    background-size: 300px 100%;
    animation: shimmer 2.5s infinite ease-in-out;
}

@media screen and (max-width: 1440px) {
    .skeleton-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media screen and (max-width: 1030px) {
    .skeleton-container {
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (max-width: 730px) {
    .skeleton-container {
        grid-template-columns: 1fr;
        justify-items: center;
    }

}