.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar .logo {
    width: max(10%, 80px);
    height: 50px;
    /* object-fit: cover; */
}

.navbar .profile {
    width: 40px;
}